---
layout: default
---	
	<div class=col-sm-5>
		<img src="images/CA_Headshot_round.png"  width="70%" height="70%"style="float: left; overflow: hidden">  
	</div>

	<style>
		h1 {
				padding-top: 30px;
				padding-bottom: 60px;
				padding-right: 70px;
				margin-bottom: -55px;				
				border-radius: 6px;
				text-align: center;				
				font-size: 280%;
			 }
		.p1 {				
				padding-right: 42px;				
				text-align: center;				
				font-size: 130%;				
			 }			 
		
	</style>

		  
  <div id="homeid" class="col-sm-7">   	  		
			<h1> Sam Spaulding</h1>  
  		<p class="p1"> I study human and machine learning in socially interactive tasks with humans and artificial agents</p>
  </div>
<div class="col-sm-12">
  	{{ content }}
 </div>

  

	
  <div id="newsid" class="col-sm-12" >
	{% include news.html %}
  </div>
